@if (isLoggedIn)
{
    <div class="alert alert-primary" role="alert">
        Logged in as @model.Email!
    </div>
}
else
{
    <EditForm Model="model" OnValidSubmit="@(() => isLoggedIn = true)">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <InputText type="email" class="form-control" id="exampleInputEmail1" @bind-Value="model.Email" aria-describedby="emailHelp" placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <InputText type="password" class="form-control" id="exampleInputPassword1" @bind-Value="model.Password" placeholder="Password" />
        </div>
        <div class="form-check">
            <InputCheckbox type="checkbox" class="form-check-input" id="exampleCheck1" @bind-Value="model.RememberMe" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}

@code{
    private LoginModel model = new LoginModel();
    private bool isLoggedIn = false;
}